.footer{
    background-color: #ff9900;
    height:300px;

.footer-image{
    
    background-color: #fff;
}

.linkfooter{
    text-decoration: none;
    color: white;
    padding:10px;

}

